body{
    margin: 0;
} 

.hidden {
    display: none;
}


/* 전체 화면을 담는 컨테이너 */
 #container {
    height: 100vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

/* todo 버튼을 누르고 hidden 클래스가 없어지면서 이걸로 변경된다.*/
/* #container.clicked {
    display: grid;
    grid-template-rows:1fr 2fr auto;
    grid-template-areas:
      'b b b b'
      'c c c c'
      'd d d d'
} */

/* 화살표, Todo sign, 날씨와 지역을 담는 컨테이너 */
#top{
    grid-area:b;
    z-index: 3;
    display: flex;
    background-color: #fff;
}

#top.clicked{
      display: grid;
      grid-template-columns:minmax(300px,1.5fr) 8fr;
      grid-template-areas: 'a b b b b';
}

#todo_sign{
    margin-top:0;
    top:0px;
} 

#todo_tag{
    display: flex;
    position: relative;
    z-index: 3;
}

.double_arrow {
    position: relative;
    z-index: 3;
    height: 30px;
    animation:linear 0s backwards rotate;
}

.double_arrow.clicked {
    animation:linear 1s forwards rotate;    
}


@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(180deg);
    }
}

.box1{
    width: auto;
    height: 100%;
}

.box1.clicked {
    grid-area: a;
}

.box2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box2.clicked{
    grid-area: b;
}

/* todo */

#todo{
    position: absolute;
    top:0;
    z-index: 4;
    background: #fff;
    width: 300px;
    height: 100%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    
}

.more_horiz{
    position: relative;
    left: 5px;
    z-index:4;
}

.change {
    position: absolute;
    z-index: 5;
    background-color: #f0f0f0;
    border-radius:5px;
    left: 5px;
}

.change.clicked{
    
}

.font_color{
    
}

.font_color.clicked {
    padding: 5px;
    display:flex;
    justify-content: space-between;
}

.background_color.clicked{
    padding: 5px;
    display:flex;
    justify-content: space-between;
}

.picker{
    width: 30px;
    border-radius: 10px;
}

#input-form {
    position: relative;
    z-index: 3;
    padding: 50px 50px 0 50px;
    
}

input {
    border: none;
    font-size: 15px;
    font-family:'Sunflower';
    height: 30px;
    width: 200px;
}

input:focus-visible{
    
}

#to-do-list{
    position: relative;
    z-index: 3;
    padding: 50px;
    list-style:none;
}

/* li 태그에는 기본적으로 display:list-item이 있다. 
*/
li {
    margin: 10px 0;
    display: grid;
    grid-template-columns: auto 2fr auto;
}

span {

}

button {
    height: 23px;
}

/* 시계, 환영인사*/
#middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area:c;
    z-index: 4;
}

#Login-input{
    position: relative;
    z-index: 3;
}

#greeting {
   position: relative;
   z-index: 3;
   font-family: 'Gaegu';
   font-size: 50px;
   font-style: italic;
}

#clock {
    position: relative;
    z-index: 3;
    font-family:'Gaegu';
    font-size: 150px;
    margin: 0;
}

#weather {
    position: relative;
    z-index: 3;
    font-family:'Sunflower';
}

/* 명언 */
#bottom{
    display: flex;
    justify-content: center;
    grid-area: d;
    z-index: 4;
    background-color: #fff;
}

#quote {
    position: relative;
    z-index: 3;
}

#quote span {
    font-family:'Sunflower';
    font-size: 18px;
} 

img{
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
}

